extends ../layout

block content
    .page-wrapper
        .content
            .d-flex.align-items-center.justify-content-between.flex-wrap.gap-3.mb-4
                .mb-3
                    h1.mb-1 Job Sheet Dashboard
                    p.fw-medium Track issued weight, returns, and losses
                a.btn.btn-primary(href="/jobsheets/new")
                    i.ti.ti-plus.me-2
                    | New Job Sheet
            
            //- Row 1: Issued Metrics & Scrap
            .row
                .col-xxl-4.col-sm-6.col-12.d-flex
                    .card.bg-warning.sale-widget.flex-fill
                        .card-body.d-flex.align-items-center
                            span.sale-icon.bg-white.text-warning
                                i.ti.ti-weight.fs-24
                            .ms-2
                                p.text-white.mb-1 Issued Gold
                                h4.text-white= totalIssuedGold.toFixed(2) + ' g'
                .col-xxl-4.col-sm-6.col-12.d-flex
                    .card.bg-secondary.sale-widget.flex-fill
                        .card-body.d-flex.align-items-center
                            span.sale-icon.bg-white.text-secondary
                                i.ti.ti-weight.fs-24
                            .ms-2
                                p.text-white.mb-1 Issued Silver
                                h4.text-white= totalIssuedSilver.toFixed(2) + ' g'
                .col-xxl-4.col-sm-6.col-12.d-flex
                    .card.bg-success.sale-widget.flex-fill
                        .card-body.d-flex.align-items-center
                            span.sale-icon.bg-white.text-success
                                i.ti.ti-recycle.fs-24
                            .ms-2
                                p.text-white.mb-1 Total Scrap Returned
                                h4.text-white= totalScrap.toFixed(2) + ' g'

            //- Row 2: Loss & Active Jobs
            .row
                .col-xxl-4.col-sm-6.col-12.d-flex
                    .card.bg-danger.sale-widget.flex-fill
                        .card-body.d-flex.align-items-center
                            span.sale-icon.bg-white.text-danger
                                i.ti.ti-alert-triangle.fs-24
                            .ms-2
                                p.text-white.mb-1 Process Loss (Today)
                                h4.text-white= lossToday.toFixed(2) + ' g'
                .col-xxl-4.col-sm-6.col-12.d-flex
                    .card.bg-danger.sale-widget.flex-fill
                        .card-body.d-flex.align-items-center
                            span.sale-icon.bg-white.text-danger
                                i.ti.ti-calendar-stats.fs-24
                            .ms-2
                                p.text-white.mb-1 Process Loss (Month)
                                h4.text-white= lossMonth.toFixed(2) + ' g'
                .col-xxl-4.col-sm-6.col-12.d-flex
                    .card.bg-primary.sale-widget.flex-fill
                        .card-body.d-flex.align-items-center
                            span.sale-icon.bg-white.text-primary
                                i.ti.ti-activity.fs-24
                            .ms-2
                                p.text-white.mb-1 Active Jobs
                                h3.text-white= pendingCount

            .row
                .col-12
                    .card.flex-fill
                        .card-header.d-flex.justify-content-between.align-items-center
                            h5.card-title.mb-0 Quick Actions
                        .card-body
                            .list-group.list-group-horizontal-md
                                a.list-group-item.list-group-item-action.text-center.p-3(href="/jobsheets")
                                    i.ti.ti-list.d-block.fs-24.mb-2
                                    | View All Job Sheets
                                a.list-group-item.list-group-item-action.text-center.p-3(href="/jobsheets/new")
                                    i.ti.ti-plus.d-block.fs-24.mb-2
                                    | Create New Job Sheet
                                a.list-group-item.list-group-item-action.text-center.p-3(href="/jobsheets/reports/all")
                                    i.ti.ti-report.d-block.fs-24.mb-2
                                    | View Reports
        .copyright-footer.d-flex.align-items-center.justify-content-between.border-top.bg-white.gap-3.flex-wrap
            p.fs-13.text-gray-9.mb-0 2025-2026 © Jewellery CRM. All Right Reserved
